on:
  workflow_call:
    inputs:
      app:
        required: true
        type: string
      base-path:
        required: true
        type: string

jobs:
  codeql-analysis:
    if: github.ref_name == 'main'
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - uses: actions/checkout@v3
      - uses: github/codeql-action/init@v2
      - name: Autobuild
        uses: github/codeql-action/autobuild@v2
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2

  test-and-verify:
    name: Test and lint
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/teamesyfo-github-actions-workflows/actions/npm-cached@main
        with:
          NPM_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: npm run lint && tsc
      - run: npm run test

  build-dev:
    if: ${{ !startsWith(github.ref_name, 'demo') }}
    name: Build for dev
    runs-on: ubuntu-latest
    permissions:
      packages: "write"
      contents: "read"
      id-token: "write"
    outputs:
      image: ${{ steps.build-and-publish.outputs.image }}
    steps:
      - uses: navikt/teamesyfo-github-actions-workflows/actions/next-to-docker@main
        id: build-and-publish
        with:
          app: ${{ inputs.app }}
          env: dev
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          NPM_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  deploy-dev:
    if: ${{ !startsWith(github.ref_name, 'demo') }}
    name: Deploy to dev
    environment:
      name: development
      url: ${{ steps.get-ingress.outputs.result }}
    runs-on: ubuntu-latest
    needs: [test-and-verify, build-dev]
    steps:
      - uses: actions/checkout@v3
      - id: get-ingress
        uses: mikefarah/yq@v4.33.3
        with:
          cmd: yq '.spec.ingresses[0]' nais/nais-dev.yaml
      - uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
          RESOURCE: nais/nais-dev.yaml
          VAR: image=${{ needs.build-dev.outputs.image }},version=${{ github.sha }}

  build-demo:
    if: github.ref_name == 'main' || startsWith(github.ref_name, 'demo')
    name: Build for demo
    runs-on: ubuntu-latest
    permissions:
      packages: "write"
      contents: "read"
      id-token: "write"
    outputs:
      image: ${{ steps.build-and-publish.outputs.image }}
    steps:
      - uses: navikt/teamesyfo-github-actions-workflows/actions/next-to-docker@main
        id: build-and-publish
        with:
          app: ${{ inputs.app }}
          env: demo
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          NPM_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  deploy-demo-main:
    if: github.ref_name == 'main'
    name: Deploy main to demo
    environment:
      name: demo-main
      url: https://${{ inputs.app }}.ekstern.dev.nav.no${{ inputs.base-path }}
    runs-on: ubuntu-latest
    needs: [test-and-verify, build-demo]
    steps:
      - uses: actions/checkout@v3
      - uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
          RESOURCE: nais/nais-demo.yaml
          VAR: image=${{ needs.build-demo.outputs.image }},ingress=https://${{ inputs.app }}.ekstern.dev.nav.no${{ inputs.base-path }},appname=${{ inputs.app }},replicas=1,branchState=alive

  deploy-demo-branch:
    if: startsWith(github.ref_name, 'demo')
    name: Deploy branch to demo
    environment:
      name: demo-branch
      url: https://${{ steps.slug.outputs.slug }}.ekstern.dev.nav.no${{ inputs.base-path }}
    runs-on: ubuntu-latest
    needs: [test-and-verify, build-demo]
    steps:
      - uses: actions/checkout@v3
      - uses: gacts/github-slug@v1
        id: slug
        with:
          to-slug: ${{ inputs.app }}-${{ github.ref_name }}
      - uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
          RESOURCE: nais/nais-demo.yaml
          VAR: image=${{ needs.build-demo.outputs.image }},ingress=https://${{ steps.slug.outputs.slug }}.ekstern.dev.nav.no${{ inputs.base-path }},appname=${{ steps.slug.outputs.slug }},replicas=1,branchState=alive

  build-prod:
    if: github.ref_name == 'main'
    name: Build for prod
    runs-on: ubuntu-latest
    permissions:
      packages: "write"
      contents: "read"
      id-token: "write"
    outputs:
      image: ${{ steps.build-and-publish.outputs.image }}
    steps:
      - uses: navikt/teamesyfo-github-actions-workflows/actions/next-to-docker@main
        id: build-and-publish
        with:
          app: ${{ inputs.app }}
          env: prod
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          NPM_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  deploy-prod:
    if: github.ref_name == 'main'
    name: Deploy to prod
    environment:
      name: production
      url: ${{ steps.get-ingress.outputs.result }}
    runs-on: ubuntu-latest
    needs: [test-and-verify, build-prod]
    steps:
      - uses: actions/checkout@v3
      - id: get-ingress
        uses: mikefarah/yq@v4.33.3
        with:
          cmd: yq '.spec.ingresses[0]' nais/nais-prod.yaml
      - uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: prod-gcp
          RESOURCE: nais/nais-prod.yaml
          VAR: image=${{ needs.build-prod.outputs.image }},version=${{ github.sha }}
